$font-lato: Lato, "Open Sans", Arial, Helvetica, sans-serif;
$font-sans: "Open Sans", Arial, Helvetica, sans-serif;
// Video Hub Page
$title-bar-bg-color: #f0e4d1;
$title-bar-text-color: #272727;
$size__site-max-width: 1260px; // @todo: Add media queries
$x-xl         : 1350px;
$x-large      : 1280px;
$x-large-up   : 1281px;
$large-minor  : 1120px;
$large-major  : 1124px;
$large-up     : 1025px;
$large        : 1024px;
$large-down   : 1023px;
$mid-large    : 919px;
$medium-up    : 769px;
$medium       : 768px;
$medium-down  : 767px;
$medium-small : 740px;
$small-up     : 481px;
$small        : 480px;
$mid-small    : 374px;
$x-small      : 320px;