.page-template {

	.page-content {
		max-width: $size__site-max-width;
		margin: 0 auto;

		.content {
			margin: 0 80px;

			.entry-content {
				p {
					a {
						color: #000;
						border-bottom: 1px solid;
					}
				}
			}

			img.size-medium {
				width: 300px;
				height: auto;
			}

			h2,
			h2 i {
				color: #bada55;
				font-family: Lato ,Open Sans, Arial, Helvetica, sans-serif;
				font-size: 38px;
				line-height: 48px;
			}
		}
	}
}

@media only screen and (max-width: 567px) {
	.page-template {

		.page-content {

			.sidebar {
				display : none;
			}
			.content {
				margin : 0 15px;

				h2,
				h2 i {
					font-size: 26px;
					line-height: 32px;
				}
			}
		}
	}
}